<form [formGroup]="form">
  <div class="form-row">
    <label for="email" class="control-label required">E-Mail</label>
    <input type="email" id="email" formControlName="email" />
    <div *ngIf="isFieldInvalid('email')" class="has-error">
      Please enter an email
    </div>
  </div>
  <div class="form-row">
    <label for="token" class="control-label required">Token</label>
    <input type="text" id="token" formControlName="token" />
    <div *ngIf="isFieldInvalid('token')" class="has-error">
      Please enter a token
    </div>
  </div>

  <button (click)="onSubmit()">Validate</button>
</form><br />
<p>{{feedback}}</p>
